





/* ==== Recursos ==== */
.Home .box5 {
    display: flex;
    gap: 5%;
    position: relative;
}

.Home .box5 h1 {
    font-size: 30px;
    margin-bottom: 8px;
}

.Home .box5 h3 {
    text-align: left;
}

.Home .box5 .titulo {
    margin-top: 4%;
}

.Home .box5 img {
    width: 50%;
    height: 42.5rem;
    object-fit: cover;
    border-radius: 10px;
}

.Home .box5 .recursos {
    position: absolute;
    display: flex;
    gap: 3%;
    bottom: 65px;
    left: 65px;
    padding: 2%;
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .3s ease-in-out;
}

body.dark .Home .box5 .recursos {
    background: rgba(46, 46, 46, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(46, 46, 46, 0.3);
}

.Home .box5 .recurso h2 {
    font-size: 18px;
}

.Home .box5 .recursos p {
    font-size: 14px;
}

.Home .box5 .recurso {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.Home .box5 .recurso .icons {
    height: 35px;
    width: 35px;
    background-color: var(--accent-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
}

.Home .box5 .recurso .nome {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    .Home .section5 .sec {
        padding: 5% 5%;
    }

    .Home .box5 h1 {
        font-size: 30px;
        margin-bottom: 8px;
    }

    .Home .box5 h3 {
        text-align: left;
    }

    .Home .box5 .titulo {
        margin-top: 4%;
    }

    .Home .box5 img {
        width: 50%;
        height: 45rem;
        object-fit: cover;
        border-radius: 10px;
    }

    .Home .box5 .recursos {
        position: absolute;
        display: flex;
        gap: 3%;
        bottom: 45px;
        left: 45px;
        padding: 2%;
    }

    .Home .box5 .recurso h2 {
        font-size: 18px;
    }

    .Home .box5 .recurso {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
    }

    .Home .box5 .recurso .icons {
        height: 35px;
        width: 35px;
        background-color: var(--accent-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--main-color);
    }

    .Home .box5 .recurso .nome {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
}

@media (max-width: 900px) {
    .Home .box5 {
        flex-direction: column;
    }

    .Home .box5 h1 {
        text-align: center;
    }

    .Home .box5 h3 {
        text-align: center;
    }

    .Home .box5 .titulo p {
        display: none;
    }

    .Home .box5 .titulo {
        margin-top: 0;
        margin-bottom: 4%;
        order: -1;
    }

    .Home .box5 img {
        width: 100%;
        height: 50rem;
    }

    .Home .box5 .recursos {
        flex-direction: column;
        gap: 30px;
        top: 18%;
        bottom: 5%;
        left: 5%;
        right: 5%;
        padding: 2%;
        justify-content: space-between;
    }

    .Home .box5 .recurso .nome {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .Home .box5 .recurso {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 500px) {
    .Home .box5 img {
        width: 100%;
        height: 58rem;
    }

    .Home .box5 .recursos p {
        font-size: 14px;
    }

    .Home .box5 .recursos {
        flex-direction: column;
        gap: 30px;
        top: 14%;
        bottom: 2%;
        left: 5%;
        right: 5%;
        padding: 5%;
    }

    .Home .box5 .recurso .nome {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .Home .box5 .recurso {
        flex-direction: column;
        gap: 5px;
    }
}

@media (max-width: 400px) {
    .Home .box5 img {
        width: 100%;
        height: 55rem;
    }

    .Home .box5 .recursos p {
        font-size: 13px;
    }

    .Home .box5 .recursos {
        flex-direction: column;
        gap: 20px;
        top: 13%;
        bottom: 3%;
        padding: 2%;
        justify-content: center;
    }
}

@media (max-width: 330px) {
    .Home .box5 .recursos p {
        font-size: 12px;
    }

    .Home .box5 .recursos {
        flex-direction: column;
        gap: 20px;
        top: 14%;
        bottom: 3%;
        padding: 2%;
        justify-content: center;
    }
}

/* ==== Recursos ==== */


/* ==== Blog ====*/
.Home .Sobre .section6 {
    margin-bottom: 3%;
}

.Home .box6 {
    display: flex;
    flex-direction: column;
}

.Home .box6 h1 {
    text-align: center;
    font-size: 30px;
}

.Home .box6 img {
    height: 15rem;
    object-fit: cover;
    border-radius: 5px;
}

.Home .box6 .mini-box {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.Home .box6 .col-3 {
    display: flex;
    flex-direction: column;
    width: 20rem;
}

.Home .box6 .linha {
    width: 2px;
    background-color: var(--login-color);
    transition: all .3s ease-in-out;
}

.Home .box6 .mini-box p {
    margin: 10px 0 25px;
}

.Home .box6 .mini-box h2 {
    color: var(--accent-color);
}

.Home .box6 .mini-box a {
    margin-top: 10px;
    color: var(--secundary-color);
    text-decoration: underline;
    font-weight: 500;
}

.Home .box6 .mini-box .icon {
    margin-left: 5px;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .Home .box6 img {
        height: 12rem;
    }

    .Home .box6 .col-3 {
        width: 18rem;
    }

    .Home .box6 .mini-box p {
        margin: 10px 0 15px;
    }

    .Home .box6 .mini-box h2 {
        color: var(--accent-color);
    }

    .Home .box6 .mini-box a {
        margin-top: 10px;
        color: var(--secundary-color);
        text-decoration: underline;
        font-weight: 500;
    }

    .Home .box6 .mini-box .icon {
        margin-left: 5px;
        text-decoration: none;
    }
}

@media (max-width: 900px) {
    .Home .box6 img {
        width: 40%;
        height: 12rem;
    }

    .Home .box6 .mini-box {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .Home .box6 .col-3 {
        flex-direction: row;
        width: 100%;
        gap: 5%;
        align-items: center;
    }

    .Home .box6 .linha {
        width: 100%;
        height: 2px;
    }

    .Home .box6 .conteudo {
        width: 55%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .Home .box6 .mini-box p {
        margin: 0;
    }

    .Home .box6 .mini-box h2 {
        font-size: 25px;
        line-height: 2rem;
    }

    .Home .box6 .mini-box a {
        margin: 0;
    }
}

@media (max-width: 500px) {
    .Home .box6 img {
        width: 40%;
        height: 8rem;
    }

    .Home .box6 .mini-box {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Home .box6 .col-3 {
        flex-direction: row;
        width: 100%;
        gap: 3%;
        align-items: center;
    }

    .Home .box6 .conteudo {
        width: 57%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .Home .box6 .mini-box p {
        display: none;
    }

    .Home .box6 .mini-box h2 {
        font-size: 16px;
        line-height: 1.25rem;
    }

    .Home .box6 .mini-box a {
        margin: 0;
        font-size: 13px;
    }
}
/* ==== Blog ====*/
/* Fim - index */